---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import WhatIs from '../components/WhatIs.astro';
import ApplyRoutes from '../components/ApplyRoutes.astro';
import Apply from '../components/Apply.astro';
import Stories from '../components/Stories.astro';
import Footer from '../components/Footer.astro';
---

<Base>
  <Nav />
  <main>
    <WhatIs />
    <ApplyRoutes />
    <Apply />
    <Stories />
  </main>
  <Footer />
</Base>
